.logo{
    margin-right: 3%;

}
.logo-title{
    margin-top: 20px;
    display: flex;
    padding: 10px;
    height: 160px;
    border-radius: 10px;
}

.logo-title-1{
    margin-top: 40px;
    padding: 1%;
    width: 100%;
    height: 180px;
} 


@media screen and (max-width:1048px){

    .JNTUGV{
        margin-left: 0px;
        float: left;
        width: 100%;
    }
}

@media screen and (min-width:500px) {
    .title-1{
        font-size: 15px;
    }
}
.title{
    color: black;
    text-align: center;
    font-family:  'Courier New';
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 3%;
    width: 100%;
    overflow: scroll;
    overflow-x: visible;
    overflow-y: visible;
    cursor: pointer;

}
.title-2{
    padding-left: 10%;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    height: 160px;
}
.title:hover{
    color: hsl(240, 66%, 57%);
    transition: 2s;
}
.jntugv{
    color: blue;
    text-align: center;
    float: left;
    height: 160px;
    padding-left: 11%;
}
.jntugv-1{
    margin-left: 12%;
}
.JNTUGV{
    
    margin-left: 30%;
}

    


@media screen and (max-width:1100px) {
    .JNTUGV{
        margin-left: 0%;
        margin-top: 0px;
        display: flex;
    }
}
@media screen and (max-width:500px) {
    .jntugv{
        width: 200px;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .jntugv img{
        width: 100px;
        padding-left: 0px;
        padding: 0px;
    }
}







/* original */

@media screen and (min-width:1300px) {
    .jntugv{
        padding-left: 7.5%;
    }
}

@media screen and (min-width:1099px) and (max-width:1299px) {
    .jntugv{
        padding-left: 3%;
        
    }
}

@media screen and (min-width:1049px) and (max-width:1098px) {
    .jntugv{
        padding-left: 2.5%;
    }
}

@media screen and (min-width:561px) and (max-width:1048px) {
    .jntugv{
        padding-left: 5.9%;
        margin-left: 2%;
    }
}

@media screen and (min-width:501px) and (max-width: 560px){
    .JNTUGV{
        padding-left: 2%;
        margin-left: -7px;

    }
    .jntugv{
        margin-left: 3%;
        padding-left: 2%;  
        

    }
}

/* upto */

@media screen and (min-width:0px) and (max-width:700px) {
    
    
    .title-1{
        font-size: 10px;
        width: 400px;
        margin-top: 10px;

    }
    .text{
        font-size: 8px;
    }
    
}

@media screen and (min-width:0px) and (max-width:700px) {
    .total-1 img{
        width: 110px;
        height: 110px;
    }
    .total-1{
        height: 200px;
    }
    .logo{
        border-width: 0px;
        
    }
    .title{
        border-width: 2px;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        min-width: 200px;
        height: 100px;
    }
    .title-1{
margin-left: 0px;
font-size: 7px;
    }
    .total{
        height: 700px;
    }
}

*{
    box-sizing: border-box;
}


.icon{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon a{
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 36px;
}
.icon a:hover{
    background-color: #000;
}
@media (max-width:614px) {
    .icon a{
        width: 20%;
    }
}
.active{
    background-color: #06bf7b;
}
.select{
    background-color: #1084e3;
    height: 300px;
    width: 300px;
    margin-left: 40px;
    margin-top: 80px;
    float: left;
    color: white;
    text-align: center;
    padding-top: 150px;
    border-radius: 3px;
}

@media (max-width:614px) {
    .select{
        height: 180px;
        width: 180px;
        margin-left: 5px;
        margin-top: 20px;
        padding-top: 90px;
    }
}
.sem{
    background-color: rgb(70, 70, 213);
    height: 30px;
    text-align: center;
}
.sem-1{
    background-color: rgb(70, 70, 213);
    height: 30px;
    text-align: center;
    margin-top: 800px;
}
@media (max-width:614px) {
    .sem-1{
        margin-top: 820px;
    }
}
.down{
    background-color: #2ad194;
    color: white;
    height:330px;
}
.down-style{
    width: 50%;
}
@media (max-width:614px) {
    .down{
        height: 1110px;
    }
}
.down-1{
    padding: 10px;
    margin-top: 10px;
    height: 270px;
    float: left;
    margin-left: 20px;
}
@media (max-width:614px) {
    .down-1{
        font-size: 13px;
        padding: 2px;
        margin-left: 0px;
        height: 190px;
    }
    .down-style{
        width: 100%;
    }
}
.copy{
    width: 100%;
     float: left; 
    background-color: rgb(84, 110, 213);
     text-align: center; 
     font-weight: normal;
     height: 22px;
     font-size: 15px;
}
@media (max-width:614px) {
    .copy{
        height: 25px;
        font-size: 10px;
    }
}
@media (max-width:1000px) {
    .select{
        margin-left: 50px;
    }
    .down{
        height: 600px;
    }
}
@media (max-width:400px) {
    .select{
        margin-left: 11px;
    }
    .down{
        height: 400px;
    }
    .down-1{
        margin-bottom: -50px;
    }
    .copy{
        margin-top: 50px;
        font-size: 12px;
        padding-top: 3px;
    }
}
@media (max-width:360px) {
    .select{
        height: 160px;
        width: 160px;
        margin-left: 10px;
    }
   .down{
    height: 570px;
   }
   .down-1{
    margin-bottom: -50px;
   }
   .copy{
    margin-top: 60px;
    font-size: 11px;
   }
}
@media (max-width:300px){
    .select{
        height: 130px;
        width: 130px;
        padding-top: 60px;
    }
    .total{
        height: 500px;
    }
    .down{
        height: 550px;
    }
    .down-1{
        margin-bottom: -50px;
    }
    .copy{
        font-size: 9px;
        padding-top: 6px;
        margin-top: 60px;
    }
}

@media screen and (min-width:1041px) and (max-width:2000px) {
    div.total{
        height: 900px;
    }
    div.copy{
        font-size: 13px;
    }
}
@media screen and (min-width:1001px) and (max-width:1040px) {
    div.total{
        height: 900px;
    }
    div.down{
        height: 600px;
    }
}
@media screen and (min-width:731px) and (max-width:1000px) {
    div.total{
        height: 1000px;
    }
    div.copy{
        font-size: 13px;
    }
}
@media screen and (min-width:700px) and (max-width:730px) {
    div.total{
        height:900px ;
    }
    div.select{
        height: 250px;
        width: 250px;
    }
    div.copy{
        font-size: 13px;
    }
}
@media screen and (min-width:614px) and (max-width:700px) {
    div.total{
        height: 900px;
    }
    div.select{
        height: 200px;
        width: 200px;
    }
    div.copy{
        font-size: 13px;
    }
}
@media screen and (min-width:491px) and (max-width:613px) {
    div.down{
        height: 500px;
    }
    div.total{
        height: 450px;
    }
}
@media screen and (min-width:0px) and (max-width:490px) {
    div.total{
        height: 500px;
    }
    div.select{
        height: 170px;
        width: 170px;
    }
    div.down{
        height: 500px;
    }
}
@media screen and (min-width:0px) and (max-width:392px) {
    div.total{
        height: 900px;
    }
}