*{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    box-sizing: border-box;
}

#preloader{
    background:black url(reading.gif) no-repeat center center ;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-size: 40%;
}

@media (max-width:614px) {
    #preloader{
      background-size: 150%;
      background-attachment: fixed;
    }
    
}

.total{
    background-image: url(book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    margin-top: 10px;
    background-attachment: fixed;
    height: 2100px;
}

.logo{
    border: 2px solid aqua;
    margin-right: 3%;

}
.logo-title{
    margin-top: 20px;
    display: flex;
    padding: 10px;
    height: 160px;
    border-radius: 10px;
}

.logo-title-1{
    margin-top: 0px;
    padding: 1px;
    width: 100%;
    height: 160px;
} 

@media screen and (max-width:1000px) {
    .title-1{
        font-size: 18px;
        margin-top: -30px;
    } 
}
@media screen and (max-width:1048px){
    .logo-title-1{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .JNTUGV{
        margin-left: 0px;
        float: left;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -200px;
    }
    .jntugv{
        margin-left: 0px;
        margin-top: 0px;
        float: left;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width:700px) {
    .title-1{
        font-size: 16px;
        margin-top: -10px;
    }
}
@media screen and (min-width:500px) {
    .title-1{
        font-size: 15px;
    }
}
.title{
    color: black;
    text-align: center;
    font-size: 19px;
    font-family:'Times New Roman', Times, serif;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 3%;
    width: 100%;
    overflow: scroll;
    overflow-x:visible;
    overflow-y: visible;
    text-decoration: underline;
    cursor: pointer;

}
.title-2{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    height: 200px;
}
.title:hover{
    color: blue;
    transition: 2s;
}
.jntugv{
    color: blue;
    text-align: center;
    float: left;
    padding-left: 20%;
}
.JNTUGV{
    margin-left: 25%;
}
@media screen and (max-width:1100px) {
    .JNTUGV{
        margin-left: 0%;
        margin-top: 0px;
        display: flex;
    }
}
@media screen and (max-width:850px) {
    .JNTUGV{
        margin-top: 0px;
        margin-left: 0%;
    }
}
@media screen and (max-width:700px) {
    .JNTUGV{
        display: flex;
    }
    .jntugv{
        display: flex;
        padding-left: 100px;
        margin-left: 40px;
    }
}
@media screen and (max-width:500px) {
    .jntugv{
        width: 200px;
    
    }
    .jntugv img{
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
        padding: 0px;
    }
}

@media screen and (min-width:810px) and (max-width:1000px){
    .JNTUGV{
        width: 600px;
        padding-left: 0px;
    }
    .jntugv img{
        margin-left: 0px;
        padding-left: 0px;
    }
}
#WTS{
    text-align: center;
    color: white;
    transition: 2s;
    font-size: 20px;
    padding: 20px;
    margin-top: 50px;
}
#WTS:hover{
    font-size: 30px;
    color: black;
}
@media (max-width:614px){
    #WTS{
        margin-top: 1px;
        font-size: 8px;
        padding: 10px;
    }
    #WTS:hover{
        font-size: 9px;
        color: black;
    }
}
@media screen and (min-width:0px) and (max-width:700px) {
    .total-1{
        height: 400px;
    }
    .title{
border-radius: 0px;
border-width: 0px;
        margin-top: 150px;
        height: 150px;
    }
    .title-1{
        font-size: 12px;
    }
    .logo-title-1{
        margin-top: -100px;
    }
    .jntugv{
        margin-left: 10px;
    }
}

.section{
    margin: 1px;
    margin-top: 30px;
    height: 100vh;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.scroll{
    height: 75px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    position: relative;
    text-align: center;
    overflow: hidden;
}
@media (max-width:614px) {
    .scroll{
        height: 40px;
        border: 1px solid black;
        border-radius: 3px;
    }
}

.slide img{
    height: 550px;
    width: 100%;
}
.tree{
    background-color: rgb(244, 242, 242);
    margin-top: 60px;
    opacity: 0.9;
    padding: 70px;
    margin-right: -15px;
    margin-left: -15px;
    height: 1000px;
}

.tree:hover{
    opacity: 1;
    transition: 1s;
}
@media screen and (min-width:0px) and (max-width:700px) {
    .slide img{
        height: 200px;
    }
}
.black{
    background-color: rgb(35, 34, 34);
    padding: 5px 5px;
    height: 300px;
    color: #1f1b1b;
    border-radius: 10px;
    margin-top: 5px;
}
.black-in{
    background-color: rgb(238, 232, 232);
    margin: 5px 5px;
    border-radius: 5px;
}
.img{
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 30px;
}
.img img{
    height: 500px;
    width: 100%;
}


.black-in{
padding: 9px;
}
.tree-1{
    float: left;
    width: 50%;
}
.slide{
  margin: auto;
  width: 1000px;
  position: relative;
  top: 30px;
}
@media (max-width:1000px){
    .slide{
        width: 90%;
    }
}

@media (max-width:614px) {
    .slide{
        width: 290px;
        height: 150px;
        margin-bottom: 90px;
    }
    .slide img{
        width: 100%;
    }
}
@media (max-width:400px){
   
    .slide img{
        width: 100%;
        height: 200px;
    }
   
}
@media (max-width:300px) {
    .slide{
        width: 95%;
    }
    .slide img{
        width: 95%;
    }
   
}
.myslide{
       display: none;
}
.prev,.next{
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
    user-select: none;
}

@media (max-width:300px){
    .next{
        margin-right: 15px;
    }
}
.next{
    right: 0px;;
    border-radius: 3px 0 0 3px;
}
.prev:hover,.next:hover{
    background-color: rgba(0,0,0,0.8);
}
.text{
     color: #f2f2f2;
     font-size: 15px;
     padding: 8px 12px;
     position: absolute;
     width: 100%;
     text-align: center;
     bottom: 8px;
}
@media (max-width:400px){
    .text{
        bottom: -40px;
    }
}
.number{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease ;
}
.active,.dot:hover{
     background-color: #717171;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
form{
    opacity: 4;
}
to{
    opacity: 1;
}
}
@media screen and (min-width:0px) and (max-width:700px) {
    
    
    .title-1{
        font-size: 10px;
        width: 400px;
        margin-top: 10px;
        margin-left: -160px;
    }
    .text{
        font-size: 8px;
    }
}
.icon{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon a{
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 36px;
}
.icon a:hover{
    background-color: #000;
}
@media (max-width:614px) {
    .icon a{
        width: 20%;
    }
}
.active{
    background-color: #04aa6d;
}
@media screen and (max-width:900px) {
    .tree{
        font-size: 14px;
    }
}
@media screen and (max-width:700px) {
    .tree-1{
        font-size: 15px;
    width: 100%;
    }
    .black{
        height: 300px;
        float: left;
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .total{
        height: 2400px;
    }

    .tree{
        height: 1200px;
    }
    .black{
        font-size: 12px;
        height: 200px;
    }
    .img {
        width: 100%;
        margin-left: 10px;
    }
    .img img{
       width: 100%;
       height: 300px;
       margin-top: 20px;
    }
}
@media screen and (min-width:0px) and (max-width:700px) {
    .black{
        font-size: 11px;
        height: 250px;
        width: 300px;
    }
    .total{
        height: 1800px;
    }
    .tree{
        height: 1200px;
    }
}
@media screen and (min-width:500px) and (max-width:610px){
    .img img{
        margin-top: 10px;
        height: 300px;
        width: 300px;
    }
}

@media  screen and (min-width:610px) and (max-width:780px){
    .tree{
        float: left;
    }
    .tree-1{
        width: 450px;
        height: 200px;
        margin-left: 0px;
        padding-left: 0px;
        float: left;
    }
    .black{
        font-size: 12px;
        height: 200px;
        float: left;
        width: 100%;
    }
    .img{
        margin: 0px;
        margin-left: 60px;
        margin-top: 430px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        float: left;
    }
    .img img{
        height: 280px;
        width: 300px;

    }
}
.div1{
    background-color: blue;
    margin: 1px;
    padding: 2px;
}
.branches{
    font-size: 15px;
    font-weight: bold;
    height: 500px;
    width:100%;
    margin-bottom: 30px;
    }

.branches img{
    height: 300px;
    width: 320px;
    transition: 1s;
}

.branches-1{
    height: 425px;
    width: 24%;
    float: left;
    background-color: rgb(106, 171, 228);
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.branches img:hover{
    height: 320px;
    width: 350px;
    transition: 3s;
}
@media screen and (max-width:1100px) {
    .branches-1{
        width: 23%;
    }
}
@media screen and (max-width:1000px) {
    .branches-1{
        height: 350px;
        width: 23%;
    }
    .branches-1 img{
        height: 250px;
        margin-bottom: 0px;
        width: 100%;
    }
    .branches-1 img:hover{
        height: 270px;
        width: 250px;
    }
}

@media screen and (max-width:700px) {
    .branches-1{
        width: 23%;
    }
}
@media screen and (max-width:500px) {
    .branches{
        height: 780px;

    }
    .branches-1{
        margin-top: 0px;
        width: 48%;
        height: 260px;
    }
    .branches-1 img{
        width: 100%;
        height: 200px;
    }
    .branches-1 img:hover{
        width: 100%;
        height: 200px;
    }
}
@media screen and (min-width:0px) and (max-width:700px) {
    .branches{
        margin-top: 100px;
        padding: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        height: 900px;
        font-size: 12px;
    }
       .div1
       {
        margin-top: 0px;
       } 
       .total{
        height: 2000px;
        margin-bottom: 0px;
       }
    .branches-1{
        width: 45%;
    }
}
@media  screen and (min-width:610px) and (max-width:780px){
    .branches{
        height: 850px;
    }
    .branches-1{
        width: 48%;
    }
    .branches-1 img{
        width: 100%;
    }
    .branches-1 img:hover{
        width: 102%;

}
}
@media screen and (min-width:500px) {
.branches{
    margin-left: -10px;
}
}
@media screen and (max-width:610px) {
    .branches{
        margin-left: -11px;
        height: 1000px;
    }
    .h3-prob h3{
        display: flex;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}
.going{
    font-size: 15px;
      background-color: #79e3b9;
      padding: 10px;
      height: 1150px;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.going-1{
    width: 32%;
    padding: 30px;
    overflow: hidden;
    float: left;
    height: 400px;
    border-radius: 5px;
    background-color: rgb(249, 249, 249);
    margin-left: 5px;
    font-size: 13px;
}

.going-1 img{
    height: 250px;
    width: 280px;
    transition: 2s;
}
.going-1 img:hover{
      height: 270px;
      width: 300px;
      transition: 1s;
      cursor: pointer;
}
.float{
    float: left;
}
@media screen and (max-width:1000px) {
    .going-1 img{
        width: 100%;
        height: 250px;
    }
    .going-1 img:hover{
        width: 100%;
        height: 250px;
    }
}
@media screen and (max-width:900px) {
    .going-1{
        font-size: 12px;
    }
}
@media screen and (max-width:500px) {
    .going-1 img{
        height: 200px;
        width: 100%;
    }
    .going-1 img:hover{
        height: 200px;
        width: 100%;
    }
}
@media screen and (min-width:0px) and (max-width:700px) {
    .going{
        height: 2100px;
    }
    .going-1{
        width: 90%;
        margin-bottom: 5px;
        height: 320px;

    }
}
@media  screen and (min-width:610px) and (max-width:780px){
    .going-1 img{
        height: 120px;
        width: 120px;
        margin-left: 0px;
        padding: 0px;
    }
    .going-1{
        height: 300px;
    }
}
.recruters{
    background-color: rgb(160, 183, 215);
    float: left;
    padding: 30px;
    height: 800px;
    width: 100%;
    margin-top: 10px;
}
.recruters p{
    margin-left: 1000px;
    margin-top: -100px;
}
.recruters-1 img{
    height: 100px;
    margin-top: 20px;
    margin: 10px;
    transition: 2s;
    margin-bottom: 50px;
    float: left;
}

.recruters-1{
    background-color: #dbdce2;
    margin: auto;
    height:600px;
    padding: 20px;
    border-radius: 10px;
}
@media screen and (min-width:1000px) and ( max-width:1350px){
    .recruters-1{
        height: 650px;
    }
    
}

@media  screen and (max-width:1230px) {
    .recruters-1{
        height: 600px;
    }
    .recruters p{
        margin-left: 0px;
    }
}

@media screen and (max-width:1000px) {
    .recruters-1 img{
        margin: 5px;
    }
    .recruters-1{
        height: 690px;
    }

}
@media screen and (max-width:700px){
    .recruters{
        height: 930px;
    }
    .recruters-1{
        height: 800px;
    }
}
@media screen and (min-width:990px){
    .recruters-1{
        height: 600px;
    }
    .recruters-1 img{
        height: 90px;
    }
}
@media screen and (max-width:1000px) {
    .recruters-1 img{
        height: 90px;
    }
}
@media screen and (min-width:0px) and (max-width:700px) {
    .recruters{
        height: 700px;
    }
    .recruters-1{
        height: 500px;
    }
    .recruters-1 img{
        height: 50px;
    }
}
/*
@media screen and (max-width:700px) {
    .recruters{
        background-color: yellow;
    }
    .recruters-1 img{
        width: ;
        height: 50px;
    }
}*/
@media  screen and (min-width:610px) and (max-width:780px){
    .recruters-1 img{
        height: 80px;
    }
}
@media screen and (min-width:610px) and (max-width:700px) {
    .recruters-1 img{
        height: 65px;
    }
}
.div{
    background: #f1f1f3;
    margin: 1px;
    margin-top: 600px;
}
.down{
    background-color: #2ad194;
    color: white;
    height:1150px;
    font-size: 12px;
}
.down-style{
    width: 50%;
}
.down-1{
    padding: 10px;
    margin-top: 10px;
    height: 270px;
    float: left;
    margin-left: 20px;
}

.copy{
    width: 100%;
     float: left; 
    background-color: rgb(84, 110, 213);
     text-align: center; 
     font-weight: normal;
     height: 22px;
     justify-content: center;
     align-items: center;
     font-size: 11px;
}

@media screen and (max-width:500px){/*max--927*/
    .down{
        height: 1570px;
    }
}

@media screen and (max-width:927px){
    .down{
        height: 1300px;
    }
}
@media screen and (max-width:930px) {
    .down{
        height: 1450px;
    }
}
@media screen and (min-width:0px) and (max-width:700px) {
    .down{
        height: 1650px;
    }
}
@media screen and (min-width:800px) and (max-width:920px) {
    .down{
        height: 1470px;
    }
}
@media screen and (min-width:1000px) and (max-width:1030px){
    .down{
        height: 1300px;
    }
}
@media screen and (min-width:460px) and (max-width:550px){
    .down{
        height: 1500px;
    }
}
@media screen and (min-width:550px) and (max-width:800px) {
    .down{
       height: 1500px;
    }   
}/*
@media screen and (min-width:0px) and (max-width:700px) {
    .total-1{
        height: 200px;
        display: flex;
    }
    .logo{
        border-radius: 0px;
        border-width: 0px;
        float: left;
    }
    .logo-title{
        width: 100px;
        height: 100px;
        padding: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .total-1 img{
        height: 100px;
        width: 100px;
        float: left;

    }
    .title{
        border-radius: 10px;
        border-width: 3px;
        width: 300px;
        margin-top: 0px;
        height: 100px;
        display: flex;

    }
    .title-1{
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 300px;
    }
}
@media screen and (min-width:0px) and (max-width:700px) {
    .total-1 img{
        width: 110px;
        height: 110px;
    }
    .total-1{
        height: 200px;
    }
    .logo{
        border-width: 0px;
        
    }
    .title{
        border-width: 2px;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        min-width: 200px;
        height: 100px;
    }
    .title-1{
margin-left: 0px;
font-size: 7px;
    }
}
@media screen and (min-width:0px) and (max-width:700px) {
    .total-1{
        width: 100%;
    }
    .title{
        display: flex;
        margin-right: 0px;
        margin-left: 0px;
        
    }
    .title-1{
        float: left;
        width: 380px;
        height: 100px;
    }
}*/