.logo{
    margin-right: 3%;

}
.logo-title{
    margin-top: 20px;
    display: flex;
    padding: 10px;
    height: 160px;
    border-radius: 10px;
}

.logo-title-1{
    margin-top: 40px;
    padding: 1%;
    width: 100%;
    height: 180px;
} 


@media screen and (max-width:1048px){

    .JNTUGV{
        margin-left: 0px;
        float: left;
        width: 100%;
    }
}

@media screen and (min-width:500px) {
    .title-1{
        font-size: 15px;
    }
}
.title{
    color: black;
    text-align: center;
    font-family:  'Courier New';
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 3%;
    width: 100%;
    overflow: scroll;
    overflow-x: visible;
    overflow-y: visible;
    cursor: pointer;

}
.title-2{
    padding-left: 10%;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    height: 160px;
}
.title:hover{
    color: hsl(240, 66%, 57%);
    transition: 2s;
}
.jntugv{
    color: blue;
    text-align: center;
    float: left;
    height: 160px;
    padding-left: 11%;
}
.jntugv-1{
    margin-left: 12%;
}
.JNTUGV{
    
    margin-left: 30%;
}

    


@media screen and (max-width:1100px) {
    .JNTUGV{
        margin-left: 0%;
        margin-top: 0px;
        display: flex;
    }
}
@media screen and (max-width:500px) {
    .jntugv{
        width: 200px;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .jntugv img{
        width: 100px;
        padding-left: 0px;
        padding: 0px;
    }
}







/* original */

@media screen and (min-width:1300px) {
    .jntugv{
        padding-left: 7.5%;
    }
}

@media screen and (min-width:1099px) and (max-width:1299px) {
    .jntugv{
        padding-left: 3%;
        
    }
}

@media screen and (min-width:1049px) and (max-width:1098px) {
    .jntugv{
        padding-left: 2.5%;
    }
}

@media screen and (min-width:561px) and (max-width:1048px) {
    .jntugv{
        padding-left: 5.9%;

    }
}

@media screen and (min-width:501px) and (max-width: 560px){
    .JNTUGV{
        padding-left: 2%;

    }
    .jntugv{
        padding-left: 3%;     

    }
}

/* upto */




#WTS{
    text-align: center;
    color: white;
    transition: 2s;
    font-size: 20px;
    padding: 20px;
    margin-top: 50px;
}
#WTS:hover{
    font-size: 30px;
    color: black;
}
@media (max-width:614px){
    #WTS{
        margin-top: 1px;
        font-size: 8px;
        padding: 10px;
    }
    #WTS:hover{
        font-size: 9px;
        color: black;
    }
}
@media screen and (min-width:0px) and (max-width:700px) {
    .total-1{
        height: 400px;
    }
    .title{
border-radius: 0px;
border-width: 0px;
        margin-top: 150px;
        height: 150px;
    }
    .title-1{
        font-size: 12px;
    }
    .logo-title-1{
        margin-top: -100px;
    }
    .jntugv{
        margin-left: 10px;
    }
    
}

.section{
    margin: 1px;
    margin-top: 30px;
    height: 100vh;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.scroll{
    height: 75px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    position: relative;
    text-align: center;
    overflow: hidden;
}
@media (max-width:614px) {
    .scroll{
        height: 40px;
        border: 1px solid black;
        border-radius: 3px;
    }
}

.slide img{
    height: 550px;
    width: 100%;
}
.tree{
    background-color: rgb(244, 242, 242);
    margin-top: 60px;
    opacity: 0.9;
    padding: 70px;
    margin-right: -15px;
    margin-left: -15px;
    height: 1000px;
}

.tree:hover{
    opacity: 1;
    transition: 1s;
}
@media screen and (min-width:0px) and (max-width:700px) {
    .slide img{
        height: 200px;
    }
}
.black{
    background-color: rgb(35, 34, 34);
    padding: 5px 5px;
    height: 300px;
    color: #1f1b1b;
    border-radius: 10px;
    margin-top: 5px;
}
.black-in{
    background-color: rgb(238, 232, 232);
    margin: 5px 5px;
    border-radius: 5px;
}
.img{
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 30px;
}
.img img{
    height: 500px;
    width: 100%;
}


.black-in{
padding: 9px;
}
.tree-1{
    float: left;
    width: 50%;
}
.slide{
  margin: auto;
  width: 1000px;
  position: relative;
  top: 30px;
}
@media (max-width:1000px){
    .slide{
        width: 90%;
    }
}
@media screen  and (max-width:700px){
    .slide{
        width: 500px;
    }
}

@media (max-width:614px) {
    .slide{
        width: 290px;
        height: 150px;
        margin-bottom: 90px;
    }
    .slide img{
        width: 100%;
    }
}
@media (max-width:400px){
   
    .slide img{
        width: 100%;
        height: 200px;
    }
   
}
@media (max-width:300px) {
    .slide{
        width: 95%;
    }
    .slide img{
        width: 95%;
    }
   
}
@media screen and (min-width:1000px) and (max-width:1050px) {
    .slide{
   width: 900px;
    }
}
.myslide{
       display: none;
}
.prev,.next{
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
    user-select: none;
}

@media (max-width:300px){
    .next{
        margin-right: 15px;
    }
}
.next{
    right: 0px;;
    border-radius: 3px 0 0 3px;
}
.prev:hover,.next:hover{
    background-color: rgba(0,0,0,0.8);
}
.text{
     color: #f2f2f2;
     font-size: 15px;
     padding: 8px 12px;
     position: absolute;
     width: 100%;
     text-align: center;
     bottom: 8px;
}
@media (max-width:400px){
    .text{
        bottom: -40px;
    }
}
.number{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease ;
}
.active,.dot:hover{
     background-color: #717171;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
form{
    opacity: 4;
}
to{
    opacity: 1;
}
}
@media screen and (min-width:0px) and (max-width:700px) {
    
    
    .title-1{
        font-size: 10px;
        width: 400px;
        margin-top: 10px;

    }
    .text{
        font-size: 8px;
    }
    
}

@media screen and (min-width:0px) and (max-width:700px) {
    .total-1 img{
        width: 110px;
        height: 110px;
    }
    .total-1{
        height: 200px;
    }
    .logo{
        border-width: 0px;
        
    }
    .title{
        border-width: 2px;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        min-width: 200px;
        height: 100px;
    }
    .title-1{
margin-left: 0px;
font-size: 7px;
    }
}

.icon{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon a{
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 36px;
}
.icon a:hover{
    background-color: #000;
}

@media (max-width:614px) {
    .icon a{
        width: 20%;
    }
}
.active{
    background-color: #04aa6d;
}

@media screen and (max-width:900px) {
    .tree{
        font-size: 14px;
    }
}
@media screen and (max-width:700px) {
    .tree-1{
        font-size: 15px;
    width: 100%;
    }
    .black{
        height: 300px;
        float: left;
        width: 100%;
    }
}
.total{
    height: 1000px;
}
.div{
    
    background-color: rgb(181, 97, 230);
    height: 5px;
    margin-top: 5px;
}
.div-1{
    background-color: rgb(104, 139, 187);
    height: 40px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
.events{
    margin-top: 50px;
    background-color: rgb(221, 227, 244);
    height: 300px;
    margin-left: 10px;
    width: 32%;
    text-align: center;
    float: left;
    border-radius: 5px;
    font-size: 14px;
}
.events img{
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
}
@media screen and (min-width:0px) and (max-width:700px){
.events{
    width: 95%;

}
.total{
    height: 2300px;
}
}
@media screen and (min-width:701px) and (max-width:1000px) {
    .events{
        margin-left: 30px;
        width: 45%;
    }
    .total{
        height: 1200px;
    }
    .events img{
        width: 90%;
    }
}
@media screen and (min-width:1001px) and (max-width:1200px) {
    .events{
        width: 32%;
    }
    .events img{
        width: 90%;
    }
}
.icon{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon a{
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 36px;
}
.icon a:hover{
    background-color: #000;
}
@media (max-width:614px) {
    .icon a{
        width: 20%;
    }
}
.active{
    background-color: #04aa6d;
}

.regular{
    background-color: rgb(125, 113, 195);
    height: 300px;
}
.select{
    background-color: rgb(83, 71, 174);
    text-align: center;
    height: 40px;
    padding: 0px;
    margin: 10px;
    margin-top: 10px;
}
.down{
    background-color: #2ad194;
    color: white;
    height:350px;
    font-size: 12px;
}
.down-style{
    width: 50%;
}
.down-1{
    padding: 10px;
    margin-top: 10px;
    height: 270px;
    float: left;
    margin-left: 20px;
}

.copy{
    width: 100%;
    background-color: rgb(84, 110, 213);
    font-weight: normal;
    height: 22px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 11px;
}

@media screen and (min-width:0px) and (max-width:700px) {
    .down{
        height: 300px;
    }
    .down-style{
        width: 100%;
        margin-left: 0px;
        height: 150px;
    }
}
@media screen and (min-width:800px) and (max-width:999px) {
    .down{
        height: 480px;
    }
    .down-1{
        height: 190px;
    }
}
@media screen and (min-width:1000px) and (max-width:1030px){
    .down{
        height: 380px;
    }
}
@media screen and (min-width:999px) and (max-width:1082px){
    div.down{
        height: 670px;
    }
}
@media screen and (min-width:460px) and (max-width:550px){
    .down{
        height:500px;
    }
}
@media screen and (min-width:550px) and (max-width:800px) {
    .down{
       height: 500px;
    }   
}
@media screen and (min-width:700px) and (max-width:800px){
    .down{
        height: 600px;
    }
}

