*{
    font-family: Arial, Helvetica, sans-serif;
}

#preloader{
    background:black url(reading.gif) no-repeat center center ;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-size: 40%;
}
@media (max-width:614px) {
    #preloader{
      background-size: 150%;
    }
    
}

.total{
    background-image: url(book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    margin-top: 10px;
    background-attachment: fixed;
    height: 500px;
}
@media (max-width:614px) {
   .total{
    margin-top: 0.5px;
    height: 500px;
   }
}
.total-1{
    transition: 2s;
}

.logo{
    border: 2px solid aqua;
    margin-right: 3%;
}
@media (max-width:614px) {
    .logo{
        margin-right: 0.5%;
        border: 0.5px solid aqua;
        height: 20px;
    }  
    img{
        height: 48px;
    }  
}
@media (max-width:614px) {
img{
    height: 47px;
}
}
.logo-title{
    margin-top: 20px;
    display: flex;
    background-image: url(tree.avif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    height: 160px;
    transition: 2s;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width:614px) {
    .logo-title{
        height: 50px;
        width: 100%;
        margin-top: 3px;
        padding: 1.5px;
        border-radius: 5px;
        margin-top: 2px;
        margin-left: 3px;
        margin-right: 3px;
    }
}
@media (max-width:614px) {
    .logo-title-1{
        font-size: 10px;
        margin-top: 2px;
        padding: 0.2px;
        height: 120px;
        width: 100%;
        margin-top: 5px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}
.title{
    color: black;
    text-align: center;
    font-size: 19px;
    font-family:'Times New Roman', Times, serif;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 3%;
    width: 100%;
    overflow: scroll;
    overflow-x:visible;
    overflow-y: visible;
    text-decoration: underline;
    cursor: pointer;

}
@media (max-width:614px) {
    .title{
        font-size: 6px;
        border: 1px solid black;
        border-radius: 2px;
        margin-right: 1%;
    }
}
.title-2{
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    float: left;
    height: 200px;
}
@media (max-width:614px) {
    .title-2{
        margin-left: 0px;
        height: 110px;
        width: 46%;
    }
}

.title:hover{
    color: blue;
    transition: 2s;
}
.jntugv{
    color: blue;
    text-align: center;
    float: left;
    margin-left: 100px;
    margin-right: 100px;
}
@media (max-width:614px) {
.jntugv{
    float: left;
    width: 27%;
    margin-left: 125px;
    padding: 10px;
    margin-top: -110px;
    margin-bottom: -5px;
}
.jntugv-1{
    margin-left: 200px;
    margin-top: -112.5px;
}
.JNTUGV{
    background-color: #000;
    width: 100%;
}
.JNTUGV img{
    height: 50px;
    width: 50px;
}
}
@media (max-width:400px) {
    .jntugv-1{
        margin-left: 250PX;
    }
}

*{
    box-sizing: border-box;
}


.icon{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon a{
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 36px;
}
.icon a:hover{
    background-color: #000;
}
@media (max-width:614px) {
    .icon a{
        width: 20%;
    }
}
.active{
    background-color: #04aa6d;
}

.regular{
    background-color: rgb(125, 113, 195);
    height: 300px;
}
.select{
    background-color: rgb(83, 71, 174);
    text-align: center;
    height: 40px;
    padding: 0px;
    margin: 10px;
    margin-top: 10px;
}
.down{
    background-color: #2ad194;
    color: white;
    height:320px;
}
.down-style{
    width: 50%;
}
@media (max-width:614px) {
    .down{
        height: 700px;
    }
}
.down-1{
    padding: 10px;
    margin-top: 10px;
    height: 270px;
    float: left;
    margin-left: 20px;
}
@media (max-width:614px) {
    .down-1{
        font-size: 13px;
        margin-left: 0px;
        height: 200px;
    }
    .down-style{
        width: 100%;
    }
}
.copy{
    width: 100%;
     float: left; 
    background-color: rgb(84, 110, 213);
     text-align: center; 
     font-weight: normal;
     height: 22px;
     font-size: 13px;
}
@media (max-width:614px) {
    .copy{
        height: 37px;
    }
}