*{
    font-family: Arial, Helvetica, sans-serif;
}

#preloader{
    background:black url(reading.gif) no-repeat center center ;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-size: 40%;
}
@media (max-width:614px) {
    #preloader{
      background-size: 150%;
      background-attachment: fixed;
    }
    
}

.total{
    background-image: url(book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    margin-top: 10px;
    background-attachment: fixed;
    height: 2100px;
}
@media (max-width:614px) {
   .total{
    margin-top: 0.5px;
    height: 1200px;
   }
}

.logo{
    border: 2px solid aqua;
    margin-right: 3%;
}
@media (max-width:614px) {
    .logo{
        margin-right: 0.5%;
        border: 0.5px solid aqua;
        height: 46.5px;
    }  
    .logo img{
        height: 45px;
    }  
}
@media (max-width:614px) {
img{
    height: 47px;
}
}
.logo-title{
    margin-top: 20px;
    display: flex;
    background-image: url(tree.avif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    height: 160px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width:614px) {
    .logo-title{
        height: 50px;
        margin-top: 3px;
        padding: 1.5px;
        border-radius: 5px;
        margin-top: 2px;
        margin-left: 3px;
        margin-right: 3px;
        border-radius: 2px;
    }
}
.logo-title-1{
    margin-top: 20px;
    padding: 1px;
    height: 160px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 2px;
}
@media (max-width:614px) {
    .logo-title-1{
        font-size: 10px;
        margin-top: 2px;
        padding: 0.2px;
        height: 120px;
        width: 100%;
        margin-top: 5px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}
.title{
    color: black;
    text-align: center;
    font-size: 19px;
    font-family:'Times New Roman', Times, serif;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 3%;
    width: 100%;
    overflow: scroll;
    overflow-x:visible;
    overflow-y: visible;
    text-decoration: underline;
    cursor: pointer;

}
@media (max-width:614px) {
    .title{
        font-size: 6px;
        border: 1px solid black;
        border-radius: 2px;
        margin-right: 1%;
    }
}
.title-2{
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    float: left;
    height: 200px;
}
@media (max-width:614px) {
    .title-2{
        margin-left: 0px;
        height: 110px;
        width: 46%;
    }
}

.title:hover{
    color: blue;
    transition: 2s;
}
.jntugv{
    color: blue;
    text-align: center;
    float: left;
    margin-left: 100px;
    margin-right: 100px;
}
@media (max-width:614px) {
.jntugv{
    float: left;
    width: 27%;
    margin-left: 125px;
    padding: 10px;
    margin-top: -110px;
    margin-bottom: -5px;
}
.jntugv-1{
    margin-left: 200px;
    margin-top: -112.5px;
}
.JNTUGV{
    background-color: #000;
    width: 100%;
}
.JNTUGV img{
    height: 50px;
    width: 50px;
}
}
@media (max-width:400px) {
    .jntugv-1{
        margin-left: 250PX;
    }
}
#WTS{
    text-align: center;
    color: white;
    transition: 2s;
    font-size: 20px;
    padding: 20px;
    margin-top: 50px;
}
#WTS:hover{
    font-size: 30px;
    color: black;
}
@media (max-width:614px){
    #WTS{
        margin-top: 1px;
        font-size: 8px;
        padding: 10px;
    }
    #WTS:hover{
        font-size: 9px;
        color: black;
    }
}
.section{
    margin: 1px;
    margin-top: 30px;
    height: 100vh;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width:614px) {
    .section{
        margin-top: 10px;
        padding: 2px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
.scroll{
    height: 75px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    position: relative;
    text-align: center;
    overflow: hidden;
}
@media (max-width:614px) {
    .scroll{
        height: 40px;
        border: 1px solid black;
        border-radius: 3px;
    }
}
.a1{
    padding: 10px;
    width: 180px;
    height: 50px;
    background-color: rgba(23, 25, 133, 0.745);
    margin-bottom: 8px;
    margin-right: 3px;
    margin-top: 7px;
    border-radius: 5px;
    position: absolute;
    left: -200px;
    animation: a1  20s infinite linear 1s;
    border: 2px solid black;
    border-radius: 2px;
    transition: 1s;
}
@media (max-width:614px) {
.a1{
    padding: 5px;
    height: 22px;
    width: 130px;
    border: 1px solid black;
    margin-bottom: 6px;
    font-size: 12px;
}
}
.a2{
    padding: 10px;
    width: 180px;
    height: 50px;
    background-color: rgba(23, 25, 133, 0.745);
    border-radius: 5px;
    margin-right: 3px;
    margin-top: 7px;
    margin-bottom: 8px;
    position: absolute;
    left: -200px;
    animation: a2 20s infinite  linear 5s;
    border: 2px solid black;
    border-radius: 2px;
    transition: 1s;
}
@media (max-width:614px) {
    .a2{
            padding: 5px;
            height: 22px;
            width: 130px;
            border: 1px solid black;
            margin-bottom: 6px;
            font-size: 12px;
    }
}
.a3{
    padding: 10px;
    width: 180px;
    height: 50px;
    background-color: rgba(23, 25, 133, 0.745);
    margin-bottom: 8px;
    margin-right: 3px;
    margin-top: 7px;
    position: absolute;
    left: -200px;
    animation: a3 20s infinite  linear 9s;
    border: 2px solid black;
    border-radius: 2px;
    transition: 1s;
}
@media (max-width:614px) {
    .a3{
            padding: 5px;
            height: 22px;
            width: 130px;
            border: 1px solid black;
            margin-bottom: 6px;
            font-size: 12px;
    }
}
.a4{
    padding: 10px;
    width: 180px;
    height: 50px;
    background-color: rgba(23, 25, 133, 0.745);
    margin-right: 3px;
    margin-top: 7px;
    margin-bottom: 8px;
    position: absolute;
    left: -200px;
    animation: a4 20s infinite linear 13s;
    border: 2px solid black;
    border-radius: 2px;
    transition: 1s;
}
@media (max-width:614px) {
    .a4{
            padding: 5px;
            height: 22px;
            width: 130px;
            border: 1px solid black;
            margin-bottom: 6px;
            font-size: 12px;
    }
}
.a5{
    padding: 10px;
    width: 180px;
    height: 50px;
    background-color: rgba(23, 25, 133, 0.745);
    margin-right: 3px;
    margin-top: 7px;
    margin-bottom: 8px;
    position: absolute;
    left: -200px;
    animation: a5 20s infinite linear 17s;
    border: 2px solid black;
    border-radius: 2px;
    transition: 1s;
}
@media (max-width:614px) {
    .a5{
            padding: 5px;
            height: 22px;
            width: 130px;
            border: 1px solid black;
            margin-bottom: 6px;
            font-size: 12px;
    }
}
.a1:hover{
    background-color: rgba(23, 25, 133, 0.745);
    color: white;
    border-radius: 5px;
    opacity: 0.8;
    width: 200px;
    height: 55px;
    transition: 1s;
}
@media (max-width:614px) {
    .a1:hover{
    border-radius: 3px;
    width: 150px;
    height: 24px;
    }
}
.a2:hover{
    background-color: rgba(23, 25, 133, 0.745);
    color: white;
    border-radius: 5px;
    opacity: 0.8;
    width: 200px;
    height: 55px;
    transition: 1s;
}
@media (max-width:614px) {
    .a2:hover{
    border-radius: 3px;
    width: 150px;
    height: 24px;
    }
}
.a3:hover{
    background-color: rgba(23, 25, 133, 0.745);
    color: white;
    border-radius: 5px;
    opacity: 0.8;
    width: 200px;
    height: 55px;
    transition: 1s;
}
@media (max-width:614px) {
    .a3:hover{
    border-radius: 3px;
    width: 150px;
    height: 24px;
    }
}
.a4:hover{
    background-color: rgba(23, 25, 133, 0.745);
    color: white;
    border-radius: 5px;
    opacity: 0.8;
    width: 200px;
    height: 55px;
    transition: 1s;
}
@media (max-width:614px) {
    .a4:hover{
    border-radius: 3px;
    width: 150px;
    height: 24px;
    }
}
.a5:hover{
    background-color: rgba(23, 25, 133, 0.745);
    color: white;
    border-radius: 5px;
    opacity: 0.8;
    width: 200px;
    height: 55px;
    transition: 1s;
}
@media (max-width:614px) {
    .a5:hover{
    border-radius: 3px;
    width: 150px;
    height: 24px;
    }
}

@keyframes a1 {
    from{
        left: -200px;
        bottom: 0px;
    }
    to{
        left: 1500px;
        bottom: 0px;
    }
}
@keyframes a2 {
    from{
        left: -200px;
        bottom: 0px;
    }
    to{
        left: 1500px;
        bottom: 0px;
    }
}
@keyframes a3 {
    from{
        left: -200px;
        bottom: 0px;
    }
    to{
        left: 1500px;
        bottom: 0px;
    }
}
@keyframes a4 {
    from{
        left: -200px;
        bottom: 0px;
    }
    to{
        left: 1500px;
        bottom: 0px;
    }
}
@keyframes a5 {
    from{
        left: -200px;
        bottom: 0px;
    }
    to{
        left: 1500px;
        bottom: 0px;
    }
}
.slide img{
    height: 550px;
    width: 100%;
}
@media (max-width:614px) {
    .slide img{
        width: 70%;
        height: 70%;
    }
}
.tree{
    background-image: url(tree.avif);
    margin-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    transition: 1s;
    border-radius: 10px;
    padding: 70px;
    height: 1000px;
}

.tree:hover{
    opacity: 1;
    transition: 1s;
}
@media (max-width:614px) {
    .tree{
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 0px;
        padding: 3px;
        border-radius:5px;
        height: 710px;
    }
    
}

.black{
    width: 94%;
   border-top-right-radius: 25px;
   border-bottom-left-radius: 25px;
    margin-left: 5px;
    margin-top: 20px;
    background-color: rgba(5, 5, 5, 0.827);
    margin-right: 5px;
    opacity: 0.8;
    transition: 1s;
    color: white;
    font-size: 17px;
    padding: 30px;
}
.img{
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 30px;
    color: blue;
    text-align: center;
}
.img img{
    height: 500px;
    width: 100%;
    margin-left: 20px;
    margin-top: 200px;
}
@media (max-width:614px) {
    .black{
        font-size: 10px;
        width: 220px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 2px;  
    }
    .img img{
        height: 200px;
        width: 220px;
        margin-top: 10px;
        margin-left: 5px;
    }
}
.black1{
    margin-left: 100px;
    height: 560px;
    width: 508px;
    border-bottom-right-radius: 25px;
    margin-top: 150px;
}
@media (max-width:614px) {
    .black1{
        padding: 3px;
        margin-top: 25px;
        margin-left: 10px;
        width: 245px;
        height: 325px;
        border-top-right-radius: 15px;
    }
}

.black:hover{
    opacity: 1;
    width: 95%;
    transition: 1s;
  
}
@media (max-width:614px) {
    .black:hover{
        width: 240px;
    }
}
.black1:hover{
    width: 518px;
}
@media (max-width:614px) {
    .black1:hover{
        width: 250px;
    }
}
.black-in{
padding: 9px;
}
@media (max-width:614px) {
    .black-in{
        padding: 3px;
    }
}
.tree-1{
    float: left;
    width: 50%;
}
*{
    box-sizing: border-box;
}
.slide{
  margin: auto;
  width: 1000px;
  position: relative;
  top: 30px;
}
@media (max-width:614px) {
    .slide{
        width: 290px;
        height: 150px;
        margin-bottom: 90px;
    }
    .slide img{
        width: 100%;
    }
}
.myslide{
       display: none;
}
.prev,.next{
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
    user-select: none;
}
.next{
    right: 0px;;
    border-radius: 3px 0 0 3px;
}
.prev:hover,.next:hover{
    background-color: rgba(0,0,0,0.8);
}
.text{
     color: #f2f2f2;
     font-size: 15px;
     padding: 8px 12px;
     position: absolute;
     width: 100%;
     text-align: center;
     bottom: 8px;
}
.number{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease ;
}
.active,.dot:hover{
     background-color: #717171;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
form{
    opacity: 4;
}
to{
    opacity: 1;
}
}
.icon{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon a{
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 36px;
}
.icon a:hover{
    background-color: #000;
}
@media (max-width:614px) {
    .icon a{
        width: 20%;
    }
}
.active{
    background-color: #04aa6d;
}

.div1{
    background-color: blue;
    margin: 1px;
    padding: 2px;
}
.branches{
    font-size: 20px;
    height: 540px;
    width:100%;
    margin-bottom: 30px;
    }

.branches img{
    height: 300px;
    width: 350px;
    transition: 1s;
}

.branches-1{
    height: 425px;
    width: 24%;
    margin-bottom: 20px;
    float: left;
    background-color: rgb(151, 181, 208);
    margin-left: 2px;
    border-radius: 10px;
    overflow: hidden;
}

.branches img:hover{
    height: 350px;
    width: 380px;
    transition: 3s;
}
@media (max-width:614px) {
    .branches{
        margin-top: 40px;
        height: 700px;
        font-size: 13px;
    }
    .branches h3{
        margin-top: -350px;
    }
    .branches-1{
        margin-top: -300px;
        float: left;
        border-radius: 5px;
        width: 48%;
        margin-bottom: 350px;
        height: 200px;
        font-size: 13px;
    }
    .branches-1 img{
        width: 136px;
        height: 120px;
    }
    .branches-1 img:hover{
        height: 138px;
        width: 150px;
    }
    .h3-prob{
        float: left;
        margin-top: 50px;
    }
}
@media (max-width:400px){
      .branches-1 img{
        height: 136px;
        width: 183.5px;
      }
      .branches-1 img:hover{
        height: 150px;
        width: 210px;
      }
}
.going{
  font-size: 20px;
    background-color: #a6e1cc;
    padding: 10px;
    height: 1100px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width:614px) {
    .going{
        font-size: 15px;
        height: 1130px;
        margin-top: -200px;
        padding: 1px;
    }
    .going h3{
        margin-top: -280px;
        width: 290px;
    }
}
@media (max-width:400px){
.going{
    height: 1140px;
}
.going h3{
    margin-top:-260px ;
}
}
.going-1{
    width: 32%;
    padding: 30px;
    overflow: hidden;
    float: left;
    height: 400px;
    border-radius: 5px;
    background-color: white;
    margin-left: 5px;
    font-size: 15px;
}
@media (max-width:614px) {
    .going-1{
        width: 48%;
        padding: 0px;
        height: 220px;
        font-size: 10px;
        margin-bottom: 10px;
        margin-left: 2px;
    }

}
.going-1 img{
    height: 250px;
    width: 280px;
    transition: 2s;
}
@media (max-width:614px) {
    .going-1 img{
        height: 120px;
        width: 140px;
    }
    .sized{
        width: 100%;
        margin-left: -3px;
    }
}
.going-1 img:hover{
      height: 270px;
      width: 300px;
      transition: 2s;
      cursor: pointer;
}
@media (max-width:614px) {
    .going-1 img:hover{
        height: 130px;
        width: 150px;
    }
}
.float{
    float: left;
} 
.recruters{
    background-color: rgb(160, 183, 215);
    float: left;
    padding: 30px;
    height: 900px;
    margin-top: 10px;
}
@media (max-width:614px) {
    .recruters{
        padding: 0px;
        width: 100%;
        height: 450px;
        border-radius: 1px;
    }
    
}
.recruters-1 img{
    height: 100px;
    margin-left: 20px;
    transition: 1s;
    margin-bottom: 50px;
}
@media (max-width:614px) {
    .recruters-1 img{
        height: 20px;
        margin-left: 1px;
        margin-top: -3px;
    }
}

.recruters-1 img:hover{
    height: 120px;
}
@media (max-width:614px) {
    .recruters-1 img:hover{
        height: 23px;
    }
}
.size{
    width: 300px;
}
.recruters-1{
    background-color: #dbdce2;
    margin: auto;
    height:780px;
    padding: 20px;
    border-radius: 10px;
}
@media (max-width:614px) {
    .recruters-1{
        padding: 5px;
        border-radius: 5px;
        height: 350px;
        margin-top: 15px;
    }
    .size{
        width: 100px;
    }
}
.size2{
    width: 500px;
}
.size3{
    width: 600px;
}
.margin{
    margin-left: 1100px;
    margin-top:-100px;
}
@media (max-width:614px) {
    .size2{
        width: 100%;
    }
    .size3{
        width: 100%;
    }
    .margin{
        margin-left: 119px;
        margin-top: -55px;
    }
}
@media (max-width:400px) {
    .less{
        margin-bottom: -25px;
        margin-top: -20px;
    }
    .recruters{
        height: 350px;
    }
    .recruters-1{
        height: 250px;
    }
}
.div{
    background: #f1f1f3;
    margin: 1px;
    margin-top: 600px;
}
.down{
    background-color: #2ad194;
    color: white;
    height:1250px;
}
.down-style{
    width: 50%;
}
@media (max-width:614px) {
    .down{
        height: 1110px;
    }
}
.down-1{
    padding: 10px;
    margin-top: 10px;
    height: 270px;
    float: left;
    margin-left: 20px;
}
@media (max-width:614px) {
    .down-1{
        font-size: 13px;
        padding: 2px;
        margin-left: 0px;
        height: 190px;
    }
    .down-style{
        width: 100%;
    }
}
.copy{
    width: 100%;
     float: left; 
    background-color: rgb(84, 110, 213);
     text-align: center; 
     font-weight: normal;
     height: 22px;
}
@media (max-width:614px) {
    .copy{
        height: 25px;
        font-size: 10px;
    }
}
@media(max-width:400px){
    .down{
       height: 800px;
    }
    .copy{
        height: 20px;
    }
}